.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper .input-field {
  padding-right: 70px;
}

.show-password-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  background: transparent;
  color: #4338ca;

  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.show-password-btn:hover {
  color: #312e81;
}


.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper .input-field {
  padding-right: 70px;
}

.show-password-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #4338ca;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.show-password-btn:hover {
  color: #312e81;
}
